* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: #F83646;
}

::-moz-selection {
  background-color: #FF4350;
  color: white;
}

::selection {
  background-color: #FF4350;
  color: white;
}

.col-gray {
  background-color: #222A31 !important;
}

.nav-menu {
  background-color: #FF4350;
  width: 100%;
  height: 55px;
  position: fixed;
  z-index: 1;
}

.header-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.header-text .media-text {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
  width: 10%;
}
.header-text .media-text .gg-signal {
  color: white;
  font-size: x-large;
}
.header-text .media-text p {
  font-weight: bold;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 5px 10px;
}
.header-text .search-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 70%;
}
.header-text .search-icon .nav-ipt {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.header-text .search-icon .nav-ipt ::-moz-placeholder {
  color: white;
  padding-left: 6px;
  opacity: 1;
}
.header-text .search-icon .nav-ipt ::placeholder {
  color: white;
  padding-left: 6px;
  opacity: 1;
}
.header-text .search-icon .nav-ipt input:focus {
  box-shadow: 0 0 5px rgb(228, 67, 67);
  border: 1px solid rgba(228, 67, 67, 0.544);
}
.header-text .search-icon .nav-ipt .las {
  position: absolute;
  top: 17px;
  color: white;
}
.header-text .search-icon .nav-ipt #in-search {
  position: relative;
  width: 30%;
  height: 30px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 10px;
  padding-left: 20px;
  color: white;
}
.header-text .search-icon .desc {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 20%;
}
.header-text .search-icon .desc img {
  border-radius: 50%;
  width: 15%;
  height: 30px;
}
.header-text .search-icon .desc h3 {
  color: white;
  font-size: 15px;
  padding: 5px;
}

main {
  display: flex;
}

.body-black {
  width: 20%;
  height: 180vh;
  background-color: #1A1C20;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
}
.body-black .body-menu {
  width: 100%;
}
.body-black .body-menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.body-black .body-menu ul .empty {
  width: 100%;
  height: 50px;
}
.body-black .body-menu ul li {
  padding: 10px;
  transition: 0.5s;
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-left: 40px;
}
.body-black .body-menu ul li:hover {
  background-color: #222A31;
}
.body-black .body-menu ul li a {
  text-decoration: none;
  color: white;
  transition: 0.7s;
}
.body-black .body-menu ul li a:hover {
  color: #FF4350;
  letter-spacing: 5px;
}
.body-black .body-menu .las {
  color: #586065;
  font-size: 22px;
}
.body-black hr {
  width: 75%;
  border: 1px solid #586065;
  position: absolute;
  top: 330px;
  left: 30px;
}

.alert {
  position: absolute;
  top: 370px;
  left: 40px;
  width: 60%;
}
.alert .alert-text {
  display: flex;
  justify-content: left;
  text-align: center;
  align-items: center;
}
.alert .alert-text p {
  color: white;
  font-size: 15px;
  padding-right: 10px;
}
.alert .alert-text span {
  background-color: #F83646;
  border: 1px solid #F83646;
  border-radius: 50%;
  padding: 2px 8px;
}
.alert .port {
  display: flex;
  justify-content: left;
  text-align: left;
}
.alert .port .img-msg {
  width: 70%;
  display: flex;
  padding-top: 20px;
}
.alert .port .img-msg img {
  border-radius: 50%;
  width: 35%;
  height: 35px;
}
.alert .port .alert-name {
  padding: 23px 0 0 8px;
  position: absolute;
  left: 50px;
  width: 80%;
}
.alert .port .alert-name p {
  color: #F83646;
  font-size: 14px;
  font-weight: 500;
}
.alert .port .alert-name span {
  color: white;
  font-weight: 500;
}
.alert .port .alert-name h4 {
  color: #F83646;
  font-size: 13px;
}
.alert .port .alert-name h5 {
  color: #586065;
  font-weight: 500;
}

.body-gray {
  width: 80%;
  height: 180vh;
  background-color: #222A31;
}
.body-gray .gray-text h1 {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
}
.body-gray .gray-text .total {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: -1;
}
.body-gray .gray-text .total .part {
  height: 450px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 25px;
  width: 20%;
  padding-top: 50px;
  position: relative;
}
.body-gray .gray-text .total .part:hover img {
  transform: scale(1.2);
}
.body-gray .gray-text .total .part:hover .middle {
  opacity: 1;
}
.body-gray .gray-text .total .part:hover span {
  opacity: 0.3;
  transform: scale(1.2);
  top: 10px;
  background-color: green;
}
.body-gray .gray-text .total .part img {
  height: 450px;
  opacity: 1;
  display: block;
  width: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  transition: 0.5s all ease-in-out;
}
.body-gray .gray-text .total .part .middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.body-gray .gray-text .total .part .middle .las {
  color: white;
  font-size: 50px;
  padding: 16px 32px;
}
.body-gray .gray-text .total .part span {
  position: absolute;
  background-color: #FFB10A;
  border-radius: 10px;
  color: white;
  width: 40px;
  text-align: center;
  top: 40px;
  right: 92px;
  transition: 0.5s all ease-in-out;
}
.body-gray .gray-text .total .part h3 {
  padding-top: 35px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.body-gray .gray-text .total .part h4 {
  color: #7E8E96;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
}/*# sourceMappingURL=style.css.map */